.card {
  display: flex;
  padding: 0.25rem 1rem;
  width: 100%;
  max-width: 600px;
  gap: 0.5rem;
  border: 1px solid #a8e1a4;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.card:hover {
  transform: scale(1.05);
}

.card input {
  cursor: pointer;
}

.artist-data {
  display: flex;
  gap: 0.5rem;
}

.artist-data.column {
  flex-direction: column;
}

.detailed-card {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap: 1rem;
   width: 40%;
   text-align: left;
   border: 1px solid #a8e1a4;
   border-radius: 0.5rem;
   height: fit-content;
   padding: 1rem;
 }

.detailed-card .close {
  align-self: flex-end;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.detailed-card .close:hover {
  text-decoration: underline;
}
