.detailed-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
  width: 40%;
  text-align: left;
}

.artist-info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.detailed-card a {
  align-self: flex-end;
  text-decoration: none;
  color: inherit;
}

.detailed-card a:hover {
  text-decoration: underline;
}